.header {
  padding: 50px 100px;
  text-align: center;
  background-color: gray;
  font-size: 32px;
  font-family: sans-serif;
  color: white;
}
.main {
  padding: 50px 100px;
  background-color: aqua;
  font-size: 38px;
  color: gray;
  font-family: sans-serif;
  text-align: center;
}
.footer {
  padding: 50px 100px;
  background-color: greenyellow;
  font-size: 32px;
  color: black;
  font-family: sans-serif;
  text-align: center;
}
